@font-face {
    font-family: norse-bold;
    src: url(./fronts/Norse-Bold.otf);
}
@font-face {
    font-family: noto-serif;
    src: url(./fronts/NotoSerif-Regular.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    font-family: noto-serif, sans-serif;
}

#image {
    background-color: bisque;
    height: 100vh;
    width: 40vw;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

#main-content {
    background-color: #FAFAFA;
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.info {
    padding: 100px 20px 0px 20px;
    /* margin-bottom: 40px; */
    /* border: 1px solid black; */
}

.form-body {
    background-color: #FFFFFF;
    padding: 50px 20px 50px 20px;
    /* border: 1px solid black; */
}

.form-button {
    /* border: 1px solid black; */
    padding: 0px 20px 50px 20px;
}

button {
    font-size: 36px;
    font-weight: bold;
    width: 150px;
    height: 40px
}