@font-face {
    font-family: norse-bold;
    src: url(./fronts/Norse-Bold.otf);
}
@font-face {
    font-family: noto-serif;
    src: url(./fronts/NotoSerif-Regular.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    font-family: noto-serif, sans-serif;
}

#image {
    position: relative;
    /* background-color: bisque; */
    height: 100vh;
    width: 40vw;
}

img {
    /* position: absolute;
    z-index: -1; */
    display: block;
    width: 100%;
    height: 100%;
}

.cap-background {
    position: absolute;
    width: 100%;
    height: 320px;
    background: black;
    opacity: 0.5;
    color: white;
    top: 24rem;
    /* display: flex;
    justify-content: center; */
    /* text-align: center;
    font-size: 4em;
    font-family: norse-bold; */
}

.cap-content{
    position: absolute;
    top: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 320px;
    
}

.cap-image {
    height: 300px;
}

.cap-text {
    color: white;
    font-size: 4em;
    font-family: norse-bold;
}

.cap-credit {
    position: absolute;
    width: 100%;
    top: 95%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}


/* begins the right side of the page */
#main-content {
    background-color: #F9FAFB;
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.info {
    margin-top: 160px;
    padding: 100px 80px 80px 80px;
    font-size: 2.2rem;
    /* margin-bottom: 40px; */
    /* border: 1px solid black; */
}

.info p:nth-child(2){
    /* background-color: aqua; */
    margin-top: -25px;
}


/* styles for from body */
.form-body {
    background-color: #FFFFFF;
    padding: 0px 20px 40px 80px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2em;
    /* border: 1px solid black; */
    box-shadow: 0px 5px 10px #d1d1d3;
}

.form-body > p {
    font-size: 2.2rem;
    margin-top: 30px;
    letter-spacing: normal;
    text-transform: none;
}

form {
    max-width: 1400px;
    /* border: 1px solid black; */
}

label, input {
    display: block;
    box-sizing: border-box;
}

input {
    width: 500px;
    height: 60px;
    margin: 0px 60px 40px 0px;
    padding: 0px 15px 0px 15px;
    font-size: 1.5em;
    /* margin-bottom: 40px;
    margin-right: 60px; */
    border-radius: 8px;
    border: 1px solid rgb(206, 206, 206);
    
}

.left {
    float: left;
    margin-right: 70px;
    
}

.right {
    float: left;
    margin-right: 200px;
}







.form-button {
    /* border: 1px solid black; */
    padding: 40px 20px 10px 80px;
}

button {
    font-size: 36px;
    font-weight: bold;
    width: 420px;
    height: 100px;
    border-radius: 16px;
    background-color: #596D48;
    color: white;
}

.form-button > p a{
    color: #63755b;
    font-weight: bold;
}